
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');

:root{
    --pink-primary:#F60D9C;
    --black-secundary:#100D18;
    --withe-font:#FFFFFF;
    --black:#000000;
    --gray-deg:rgba(255, 255, 255, 0.25);

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}


.container{
    width: 100%;
    height: auto;
    margin: 0 auto;
}

@media screen and (min-width:576px){
    .container{
        max-width: 540px;
    }
}
@media screen and (min-width:768px){
    .container{
        max-width: 720px;
    }
}
@media screen and (min-width:992px){
    .container{
        max-width: 960px;
    }
}
@media screen and (min-width:1200px){
    .container{
        max-width: 1140px;
    }
}
@media screen and (min-width:1400px){
    .container{
        max-width: 1260px;
    }
}
